.details {
    &_btn {
        background: none;
        border: none;
        color: #fff;
        cursor: pointer;
    }

    &_row {
        background-color: #4d5547;
        color: #fff;
        width: 100%;
    }
}