.table {
    width: 100%;
    border-spacing: 0;

    & td {
        text-align: center;
        width: 300px;
        padding: 20px;
        background-color: #4d5547;
        color: #fff;
        border-bottom: 4px solid #fff;
    }
    
    & thead {
        background-color: #4d5547;
        color: #fff;

        & tr th {
            border-bottom: 8px solid #fff;
            padding: 20px;
        }
    }
}

.pagination {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 15px;
    margin-bottom: 60px;

    &_btn {
        background: transparent;
        border: 1px solid #4d5547;
        border-radius: 50%;
        padding: 13px 15px;
        cursor: pointer;
        transition: .2s;

        &:hover {
            background: #4d5547;
            color: #fff;
        }
    }
}