.table {
    width: 100%;
    border-spacing: 0;

    & td {
        text-align: center;
        width: 300px;
        padding: 20px;
        background-color: #4d5547;
        color: #fff;
        border-bottom: 4px solid #fff;
    }
    
    & thead {
        background-color: #4d5547;
        color: #fff;

        & tr th {
            border-bottom: 8px solid #fff;
            padding: 20px;
        }
    }
}

.pagination {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 15px;
    margin-bottom: 60px;

    &_btn {
        background: transparent;
        border: 1px solid #4d5547;
        border-radius: 50%;
        padding: 13px 15px;
        cursor: pointer;
        transition: .2s;

        &:hover {
            background: #4d5547;
            color: #fff;
        }
    }
}

.filters {
    display: flex;
    gap: 30px;
    margin-bottom: 30px;

    & input {
        padding: 7px 15px;
        border: 2px solid #000;
        border-radius: 15px;
    }

    & button {
        padding: 7px 25px;
        background: #4d5547;
        color: #fff;
        border-radius: 15px;
        border: none;
        cursor: pointer;
    }
}

.header {
    display: flex;
    gap: 10px;
}

.title {
    font-size: 36px;
    color: #4d5547;
}

@media (max-width: 1024px) {
    .filters {
        flex-direction: column;
        width: fit-content;
        gap: 15px;
    }

    .table {
        & td {
            padding: 10px;
            width: 150px;
            font-size: 14px;
        }

        & thead tr th {
            font-size: 14px;
        }
    }

    .pagination {
        &_wrapper {
            display: flex;
            justify-content: center;
        }
        &_btn {
            padding: 6px 8px;
        }
    }
}

@media (max-width: 540px) {
    .table {

        & thead {
            display: none;
        }

        & td {
            width: 100%;
            display: block;
            border-bottom: 0;
            padding: 5px;
            border-bottom: 1px solid #fff;
        }
    }
}